canvas{
    animation-name: Devansh_The_Legend;
    animation-duration: 4s;
animation-iteration-count: infinite;
}

@keyframes Devansh_The_Legend {
    from{box-shadow: 1px 1px 40px royalblue;
    }
    to{box-shadow: 1px 1px 40px chartreuse;
    }
}